@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kodchasan&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');


.kodchasan-font {
    font-family: 'Kodchasan', cursive;
}

.kaushan-font {
    font-family: 'Kaushan Script', cursive;
}

.inter-font {
    font-family: 'Inter', cursive;
}

html {
    height: 100%;
}
